<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Trace"
      internalLogFile="${basedir}/logs/internal-nlog.txt">

    <!-- enable asp.net core layout renderers -->
    <extensions>
        <add assembly="NLog.Web.AspNetCore" />
    </extensions>

    <!-- targets to write logs -->
    <targets>
        <!-- log all events -->
        <target xsi:type="File"
                name="allfile"
                fileName="${basedir}/logs/nlog-all-${shortdate}.log"
                createDirs="true"
                layout="${longdate}|${uppercase:${level}}|${logger}|${message}|${exception:format=tostring}" />

        <!-- log only exceptions -->
        <target xsi:type="File"
                name="exceptions"
                fileName="${basedir}/logs/nlog-exceptions-${shortdate}.log"
                createDirs="true"
                layout="${longdate}|${uppercase:${level}}|${logger}|${message}|${exception:format=tostring}" />

        <!-- request-time log -->
        <target xsi:type="File"
                name="request-time"
                fileName="${basedir}/logs/request-time-${shortdate}.log"
                createDirs="true"
                layout="${longdate}|${uppercase:${level}}|${logger}|${message}|${exception:format=tostring}" />
    </targets>

    <!-- rules -->
    <rules>
        <!-- log everything -->
        <logger name="*" minlevel="Trace" writeTo="allfile" />

        <!-- log only errors to exceptions file -->
        <logger name="*" minlevel="Error" writeTo="exceptions" />

        <!-- log request time -->
        <logger name="*" minlevel="Trace" writeTo="request-time" />
    </rules>
</nlog>